**/.tempFiles/*
**/.jxbrowser-data/*
**/.metadata/*
**/DEBUG/*
**/CPU1_RAM/*
**/CPU2_RAM/*
**/CPU1_FLASH/*
**/CPU2_FLASH/*
**/device/*

ELT131_LAB_07/
MD_F2837xD_LIB
MD_adc_soc_pid_dcl_cla/.settings/org.eclipse.core.resources.prefs
RM_buffdac_ex1_enable/
RM_buffdac_ex2_random/
RMbuffdac_sine_cpu01/
RemoteSystemsTempFiles/
_D_adc_ex2_soc_epwm/
__md_cla_pid_cpu1/
buffdac_square_cpu01/
cla_fir32_cpu01/
cla_matrix_mpy_cpu01/
cla_prime_cpu01/
epwm_ex2_updown_aq/
md_buffdac_ex1_enable_/
md_buffdac_sine_cpu01/
trtyTheBeastRtos/
